# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
pandas
dash
plotly
folium
black
isort
autoflake
pyupgrade
flake8
ruff